# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/

# VS Code
.vscode/

# Credentials
config.json
.env

# Cache
src/data/aspace_cache/
src/data/snac_cache/

# Large or Derived Data
src/data/*.csv
src/data/*.xlsx

# Notebooks and Documentation
notebooks/

# System Files
pyvenv.cfg
setup_project.py
src/data/aspace_cache/
src/data/snac_cache/
