# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Credentials
config.json

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
