# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/

# VS Code
.vscode/

# Credentials
config.json

# Logs and Cache
logs/
*.log
src/data/aspace_cache/

# Output and Temporary Files
src/data/*.csv
src/data/*.xlsx

# Build and System Files
.env
pyvenv.cfg
